### 隐藏文件
.*

### 有用的隐藏文件
!.git*
!.npm*
!.vscode
!.github

### 缓存

### 临时文件
*.lock
temp/
*.bak

### IDEs
.vscode/local-history

### 构建产物
dist/
lib/
*.tgz
tsconfig.everything.json
*.generated.*
_*.ts

### Package Manager
node_modules

### 日志
*.log
npm-debug.log*

### 异常输出产物
src/**/*.js
src/**/*.map
src/**/*.d.ts

### 环境变量
!.env.sample
